/*-----------------------Body--------------------------*/

body {
    background-color: #6a707c;
}

/*-----------------------Main--------------------------*/

.main {
    display: flex;
    color: white;
}

.main,
.editor {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.border-style {
    margin: 5px auto;
    width: 95%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background: #2b3137;
    box-sizing: border-box;
}

.editor {
    display: none;
}

/*-------------------------Password Window----------------*/

.password-window {
    display: none;
    flex-direction: column;
    position: fixed;
    top: calc(50% - 125px);
    left: calc(50% - 225px);
    width: 450px;
    height: 250px;
    background-color: #2b3137;
    color: white;
    border: 1px solid #6a707c;
    border-radius: 5px;
    z-index: 3;
}

.password-window div:first-child {
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.password-panel,
.button-panel {
    width: 150px;
    margin: 30px auto;
    padding: auto;
    text-align: center;
}

.password-panel {
    position: relative;
}

.password-panel .input-password {
    width: 150px;
    outline: 1px solid #6a707c;
}

.password-panel div {
    display: none;
    position: absolute;
    top: 25px;
    left: 18px;
    font-weight: bold;
    color: #e85844;
}

/*-------------------------Header-------------------------*/

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 250px;
    font-family: serif;
    font-size: 12pt;
    line-height: 20px;
    text-align: justify;
}

.content ul, 
.content ol,
.content table {
    margin: 10px 5px 0 40px;
}

.content div {
    height: 100%;
    background-color: #6a707c;
    overflow-y: auto;
}

/*-------------ContorlButtons--EditorButtons----------------*/

.control-panel-wrap,
.editor-panel-wrap,
.control-buttons,
.editor-buttons,
.color-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.control-buttons,
.editor-buttons {
    width: 370px;
    height: 65px;
}

.editor-buttons {
    width: 250px
}

.control-panel-wrap {
    height: 65px;
}

.button-unblock,
.button-edit,
.button-style,
.button-block,
.button-save,
.button-add,
.button-create,
.button-example,
.text-font select,
.border-color select,
.border-type select,
.marked-type-block select,
.number-type-block select,
.button-style-tag {
    width: 120px;
    height: 45px;
    background: #624839;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    color: #f6eed8;
    font-size: 16px;
    cursor: pointer;
    padding-right: 5px;
}

.button-unblock:active,
.button-edit:active,
.button-style:active,
.button-block:active,
.button-save:active,
.button-add:active,
.button-create:active,
.button-example:active,
.button-style-tag:active {
    transform: scale(0.95)
}

/*-------------------------Section----------------------*/

.editor-area {
    display: flex;
    flex-direction: column;
    position: relative;
}

.editor-style-panel {
    position: absolute;
    top: 5%;
    left: calc(50% - 135px);
    z-index: 1;
}

.button-style-tag {
    width: 30px;
    height: 30px;
    font-size: 15px;
}

#text-area-block {
    padding: 60px 20px 20px 20px;
    width: calc(100% - 40px);
    height: 200px;
    overflow-y: auto;
    font-family: times;
    resize: none;
    
}

.editor-panel-wrap {
    justify-content: flex-start;
}

legend,
.editor-add div {
    font-weight: bold;
    font-size: 22px;
}

.text-font span,
.text-decoration input {
    margin: 0 10px 0 20px;
}

/*-------------------------Editor Style----------------------*/

.editor-style-wrap,
.editor-add {
    position: relative;
    display: none;
    flex-direction: column;
}

.editor-style-wrap {
    margin: 0 auto;
    width: 100%;
}

.fieldset-wrap {
    border: 1px dotted grey;
    margin: 5px 0;
    width: 100%;
    padding: auto 0;
}

.editor-style-wrap fieldset div {
    width: 360px;
    margin: 0 auto;
}

.legend-text {
    font-size: 18px;
}

.color-panel {
    justify-content: flex-start;
}

.editor-style-wrap label {
    font-size: 20px;
}

.text-font select,
.border-type select,
.marked-type-block select,
.number-type-block select {
    width: 220px;
    height: 30px;
    padding-left: 10px;
    font-weight: normal;
    background-color: #624839;
}

.text-bold + span {
    font-weight: bold;
}

.text-italic + span {
    font-style: italic;
}

.text-underline + span {
    text-decoration: underline;
}

.text-decoration input {
    width: 15px;
    height: 15px;
    background-color: grey;
    color: darkblue;
}

/*------------------Editor BgColorTable----------------------*/

.color-panel input[type=color] {
    width: 35px;
    height: 35px;
    margin: -7px 0 0 15px;
    outline: 1px solid #6a707c;
    border: 1px solid #2b3137;
}

.color-panel label {
    margin: -7px 0 0 15px;
}

/*-----------------------EditorAdd--------------------------*/

.editor-add {
    display: none;
    height: 100%;
}

.editor-add h1 {
    margin: 20px 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.tab {
    width: 100%;
}

.tab-title input[type=radio] {
    display: none;
}

.tab-title {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-left: 30px;
}

input:checked + label {
    margin: 10px 0 0 0;
    height: 30px;
}

.tab-title label {
    display: block;
    margin: 15px 0 0 -2px;
    width: 90px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-bottom: none;
    transform: skewX(-15deg);
    background-color: #2b3137;
    z-index: 1;
}

.tab-content-wrap {
    position: relative;
    top: 5px;
    left: 0;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 96%;
}

.tab-content {
    display: none;
    flex-direction: column;
}

.fieldset-numbered-list-types,
.fieldset-marked-list-types {
    display: none;
}

.count-row-cell,
.cell-height-width,
.table-border,
.marked-list-types,
.numbered-list-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.count-row-cell div,
.cell-height-width div,
.table-border div,
.marked-list-types div,
.list-types span,
.numbered-list-types div {
    width: 235px;
    margin: auto 10px;
    font-size: 16px;
}

.list-types {
    text-align: center;
}

.count-row,
.count-cell,
.height-cell,
.width-cell,
.width-border,
.count-marcked-list, 
.count-numbered-list {
    width: 50px;
    height: 15px;
    outline: 2px solid;
    outline-color: #6a707c;
}

.table-border {
    display: flex;
    flex-direction: row;
}

.table-border div {
    margin-right: 10px;
}

.border-color select,
.border-type select,
.marked-type-block select {
    width: 100px;
}

.marked-type-block {
    display: none;
    flex-direction: row;
    align-items: center;
}
.marked-type-block span{
    padding-right: 5px;
}

.number-type-block select {
    width: 130px;
}

.tooltipMessage {
    position: relative;
}

.tooltipMessage::after {
    position: absolute;
    top: -45px;
    left: 135px;
    content: 'Invalid data entered: text, 0, less than 0 or more than 100.';
    width: 200px;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    border: #6a707c;
    font-size: 12px;
    background-color: #6a707c;
    opacity: 0;
    animation: move 6s linear 0.1s 1;
}

@keyframes move {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-create {
    display: none;
    justify-content: center;
    margin: 10px auto 0;
}

.button-example-block {
    position: relative;
    margin: 20px 0 300px 20px;
}

.button-example {
    width: 150px;
    
}
/*-----------------------Layout--------------------------*/

.layout {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}
/*-----------------------Example Window--------------------*/

.example-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border: 1px solid #6a707c;
    border-radius: 25px;
    background-color: #624839; 
    z-index: 2;
}

.example-window-head {
    position: relative;
    height: 20px;
}

.example-window-head img {
    position: absolute;
    top: 2px;
    right: 15px;
    width: 17px;
    height: 17px;
    text-align: right;
}

.example-window-body {
    height: 275px;
    padding: 25px 1px 1px 1px;
    border-radius: 0 0 25px 25px;
    background-color: #6a707c;
    overflow: auto;
}

.example-window-body ul,
.example-window-body ol {
    margin-left: 30px;
    font-size: 14px;
}

.example-window-icon {
    position: absolute;
    top: 100px;
    left: calc(50% - 50px);
    display: flex;
    width: 100px;
    height: 100px;
}

.example-window-icon img {
    display: none;
    width: 100px;
    height: 100px;
}

.active-tab-content {
    display: flex;
    transition: 3s;
}

.active-list-type {
    display: flex;
}

.fieldset-wrap {
    
}